In [2]:
import numpy as np
import pandas as pd

In [3]:
df1=pd.read_csv('Hotel_Room_attributes.csv')
df2=pd.read_csv('Hotel_details.csv')
df3=pd.read_csv('hotels_RoomPrice.csv')

In [4]:
df1.head(5)

,id,hotelcode,roomamenities,roomtype,ratedescription
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed"
1,50672149,8328096,Air conditioning: ;Closet: ;Fireplace: ;Free W...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
2,50643430,8323442,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
3,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"
4,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"

In [5]:
df2.head(5)

,id,hotelid,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,46406,1771651,Mediteran Bungalow Galeb,Vukovarska 7,Omis,Croatia,21310.0,Holiday parks,4,43.440124,16.682505,2,https://www.booking.com/hotel/hr/bungalow-luxu...,EUR
1,46407,177167,Hotel Polonia,Plac Teatralny 5,Torun,Poland,NaN,Hotels,3,53.012329,18.603800,5,https://www.agoda.com/en-gb/hotel-polonia/hote...,EUR
2,46408,1771675,Rifugio Sass Bece,"Belvedere del Pordoi,1",Canazei,Italy,38032.0,Hotels,3,46.477920,11.813350,2,http://www.booking.com/hotel/it/rifugio-sass-b...,EUR
3,46409,177168,Madalena Hotel,Mykonos,Mykonos,Greece,84600.0,Hotels,3,37.452316,25.329849,5,https://www.agoda.com/en-gb/madalena-hotel/hot...,EUR
4,46410,1771718,Pension Morenfeld,Mair im Korn Strasse 2,Lagundo,Italy,39022.0,Hotels,3,46.682780,11.131736,2,http://www.booking.com/hotel/it/pension-morenf...,EUR

In [6]:
df3.head(5)

,id,refid,hotelcode,websitecode,dtcollected,ratedate,los,guests,roomtype,onsiterate,...,promoname,status_code,taxstatus,taxtype,taxamount,proxyused,israteperstay,mealinclusiontype,hotelblock,input_dtcollected
0,50677497,8646773,634876,5,2019-10-12 15:46:54,2019-11-02,1,1,Double Room,82.36,...,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.165.126:80,Y,Free Breakfast,NaN,2019-10-13
1,50672149,6234691,8328096,5,2019-10-12 15:47:45,2019-11-30,1,1,Vacation Home,636.09,...,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.164.126:80,Y,NaN,NaN,2019-10-13
2,50643430,7015677,8323442,5,2019-10-12 15:47:00,2019-12-20,1,1,Vacation Home,591.74,...,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.166.122:80,Y,NaN,NaN,2019-10-13
3,50650317,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,881.48,...,NaN,200,2,Tax 20%,0.0,media:M3diAproxy@209.242.219.141:80,Y,NaN,NaN,2019-10-13
4,50650318,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,897.53,...,NaN,200,2,VAT $ 179.51,0.0,media:M3diAproxy@209.242.219.141:80,Y,Free breakfast for {3},NaN,2019-10-13

In [7]:
df2.rename(columns={'hotelcode':'hotelid'}, inplace=True)

In [8]:
df1.rename(columns={'hotelcode':'hotelid'}, inplace=True)

In [9]:
df_final=df1.merge(df2, on = 'hotelid')

In [10]:
df_final.head()

,id_x,hotelid,roomamenities,roomtype,ratedescription,id_y,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
1,50677498,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
2,50677499,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Deluxe Double Room with Shower,"Room size: 17 m²/183 ft², Shower, 1 queen bed ...",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
3,50731279,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Superior Double Room,"Room size: 17 m²/183 ft², Shower, 1 double bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
4,63480999,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Standard Double or Twin Room,"Room size: 13 m²/140 ft², Shower, 1 queen bed ...",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.15847,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP

In [11]:
df_final.shape

(181415, 18)

In [12]:
df_final.isna().sum()

id_x                   0
hotelid                0
roomamenities       5309
roomtype               0
ratedescription     5309
id_y                   0
hotelname              0
address              577
city                   0
country                0
zipcode            86703
propertytype           0
starrating             0
latitude               0
longitude              0
Source                 0
url                    0
curr                   0
dtype: int64

In [13]:
df_final.duplicated().sum()

0

In [14]:
df_final.drop(['zipcode'], axis=1, inplace= True)

In [15]:
data1=df_final

In [16]:
data1.drop(['id_y','latitude', 'longitude', 'Source', 'curr'], axis=1, inplace=True)

In [17]:
data1.rename(columns={'id_x': 'id'}, inplace=True)

In [18]:
data1.duplicated().sum()

0

In [19]:
data1.shape

(181415, 12)

In [20]:
data1.duplicated().sum()

0

In [21]:
indices=data1[data1['id'].duplicated()].index

In [22]:
data1.drop(index=indices, inplace=True)

In [23]:
data1.shape

(165873, 12)

In [24]:
# Function to remove whitespaces 
def remove_whitespace(text):
    return text.replace(' ','')

In [25]:
data1.rename(columns={'roomamenities_x':'roomamenities'}, inplace=True)

In [26]:
data1['roomamenities'][0]

'Air conditioning: ;Alarm clock: ;Carpeting: ;Closet: ;Coffee/tea maker: ;Desk: ;DVD/CD player: ;Fan: ;Free Wi-Fi in all rooms!: ;Hair dryer: ;Heating: ;In-room safe box: ;Ironing facilities: ;Linens: ;Mini bar: ;Seating area: ;Toiletries: ;Towels: ;TV [flat screen]: ;'

In [27]:
data1['roomamenities']=data1['roomamenities'].astype(str)

In [28]:
data1['roomamenities_tag']=data1['roomamenities'].apply(lambda x:x.replace(': ;',','))

In [29]:
data1['roomamenities_tag'] = data1['roomamenities_tag'].apply(remove_whitespace)

In [30]:
data1['roomamenities_tag'] = data1['roomamenities_tag'].apply(lambda x:x.split(','))

In [31]:
data1['roomamenities_tag'][67509]

['Airconditioning',
 'Bathrobes',
 'Carpeting',
 'Closet',
 'Coffee/teamaker',
 'Desk',
 'Fan',
 'Freebottledwater',
 'FreeWi-Fiinallrooms!',
 'Hairdryer',
 'Heating',
 'In-roomsafebox',
 'Ironingfacilities',
 'Linens',
 'Mirror',
 'Refrigerator',
 'Satellite/cablechannels',
 'Seatingarea',
 'Separatediningarea',
 'Smokedetector',
 'Telephone',
 'Toiletries',
 'Towels',
 'Trouserpress',
 'Wake-upservice',
 '']

In [32]:
data1.rename(columns={'roomtype_x':'roomtype'}, inplace=True)

In [33]:
data1['roomtype_tag'] = data1['roomtype'].apply(remove_whitespace)

In [34]:
data1['roomtype_tag'] =  data1['roomtype_tag'].apply(lambda x:[x])

In [35]:
value_count=data1['roomtype_tag'].value_counts()
value_count.head(40)
#pd.set_option('display.max_rows', None)

roomtype_tag
[DoubleRoom]                       8240
[TwinRoom]                         4466
[SingleRoom]                       4260
[StandardDoubleRoom]               4194
[TripleRoom]                       3708
[SuperiorDoubleRoom]               3571
[FamilyRoom]                       3063
[JuniorSuite]                      2599
[StandardTwinRoom]                 2402
[DoubleorTwinRoom]                 2213
[Suite]                            2147
[DeluxeDoubleRoom]                 1747
[Double]                           1725
[StandardRoom]                     1528
[SuperiorRoom]                     1508
[StandardSingleRoom]               1375
[Single]                           1282
[QuadrupleRoom]                    1225
[ExecutiveDoubleRoom]              1202
[Standard]                         1158
[SuperiorTwinRoom]                  970
[ClassicDoubleRoom]                 904
[Triple]                            876
[StandardDouble]                    861
[RunofHouse]                        835
[ComfortDoubleRoom]                 813
[DeluxeRoom]                        734
[DoubleSingleUseStandard]           726
[SuperiorDoubleorTwinRoom]          723
[DoubleStandard]                    721
[StandardDoubleorTwinRoom]          709
[SuperiorDouble]                    703
[Twin]                              681
[VacationHome]                      604
[StandardTripleRoom]                603
[FamilyRoom(2Adults+2Children)]     581
[1DoubleBedNon-Smoking]             571
[DoubleSuperior]                    541
[SmallDoubleRoom]                   533
[ClassicDouble]                     493
Name: count, dtype: int64

In [36]:
data1['roomtype_tag'][67509]

['SuperiorFamilyRoom']

In [37]:
data1['ratedescription']

0              Room size: 15 m²/161 ft², Shower, 1 king bed
1              Room size: 15 m²/161 ft², Shower, 1 king bed
2         Room size: 17 m²/183 ft², Shower, 1 queen bed ...
3            Room size: 17 m²/183 ft², Shower, 1 double bed
4         Room size: 13 m²/140 ft², Shower, 1 queen bed ...
                                ...
181410              Room size: 16 m²/172 ft², 2 single beds
181411    Room size: 20 m²/215 ft², Balcony/terrace, 1 d...
181412    Room size: 20 m²/215 ft², Balcony/terrace, 1 d...
181413              Room size: 20 m²/215 ft², 2 single beds
181414                                                  NaN
Name: ratedescription, Length: 165873, dtype: object

In [38]:
import re

def transform(text):
    return re.sub(r'Room size: \d+ m²/\d+ ft², ','',text)

In [39]:
data1['ratedescription']=data1['ratedescription'].astype(str)

In [40]:
data1['ratedescription_tag'] = data1['ratedescription'].apply(transform)

In [41]:
data1['ratedescription_tag'] = data1['ratedescription_tag'].apply(remove_whitespace)

In [42]:
data1['ratedescription_tag'] = data1['ratedescription_tag'].apply(lambda x:x.split(','))

In [43]:
data1['address'].nunique()

8439

In [44]:
data1['address']=data1['address'].astype(str)

In [45]:
data1['address_tag'] = data1['address'].apply(remove_whitespace)

In [46]:
data1['address_tag'] = data1['address_tag'].apply(lambda x:x.split())

In [47]:
data1['city_tag'] = data1['city'].apply(remove_whitespace)

In [48]:
data1['city_tag'] = data1['city_tag'].apply(lambda x:x.split())

In [49]:
data1['city_tag']

0         [NetherStowey]
1         [NetherStowey]
2         [NetherStowey]
3         [NetherStowey]
4         [NetherStowey]
               ...
181410        [Merignac]
181411        [Merignac]
181412        [Merignac]
181413        [Merignac]
181414        [Merignac]
Name: city_tag, Length: 165873, dtype: object

In [50]:
data1['country_tag'] = data1['country'].apply(remove_whitespace)

In [51]:
data1['country_tag'] = data1['country_tag'].apply(lambda x:x.split())

In [52]:
data1['country_tag']

0         [UnitedKingdom]
1         [UnitedKingdom]
2         [UnitedKingdom]
3         [UnitedKingdom]
4         [UnitedKingdom]
               ...
181410           [France]
181411           [France]
181412           [France]
181413           [France]
181414           [France]
Name: country_tag, Length: 165873, dtype: object

In [53]:
data1['propertytype_tag'] = data1['propertytype'].apply(remove_whitespace)

In [54]:
data1['propertytype_tag'] = data1['propertytype_tag'].apply(lambda x:x.split())

In [55]:
data1.head()

,id,hotelid,roomamenities,roomtype,ratedescription,hotelname,address,city,country,propertytype,starrating,url,roomamenities_tag,roomtype_tag,ratedescription_tag,address_tag,city_tag,country_tag,propertytype_tag
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,"[Airconditioning, Alarmclock, Carpeting, Close...",[DoubleRoom],"[Shower, 1kingbed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
1,50677498,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,"[Airconditioning, Alarmclock, Carpeting, Close...",[DoubleRoom],"[Shower, 1kingbed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
2,50677499,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Deluxe Double Room with Shower,"Room size: 17 m²/183 ft², Shower, 1 queen bed ...",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,"[Airconditioning, Alarmclock, Carpeting, Close...",[DeluxeDoubleRoomwithShower],"[Shower, 1queenbedor2singlebeds]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
3,50731279,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Superior Double Room,"Room size: 17 m²/183 ft², Shower, 1 double bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,"[Airconditioning, Alarmclock, Carpeting, Close...",[SuperiorDoubleRoom],"[Shower, 1doublebed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
4,63480999,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Standard Double or Twin Room,"Room size: 13 m²/140 ft², Shower, 1 queen bed ...",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,"[Airconditioning, Alarmclock, Carpeting, Close...",[StandardDoubleorTwinRoom],"[Shower, 1queenbedor2singlebeds]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]

In [56]:
data1['tags']=data1['roomamenities_tag']+data1['roomtype_tag']+data1['ratedescription_tag']+data1['address_tag']+data1['city_tag']+data1['country_tag']+data1['propertytype_tag']

In [57]:
data1['tags'] = data1['tags'].apply(lambda x:" ".join(x))

In [58]:
data1.head(1)

,id,hotelid,roomamenities,roomtype,ratedescription,hotelname,address,city,country,propertytype,starrating,url,roomamenities_tag,roomtype_tag,ratedescription_tag,address_tag,city_tag,country_tag,propertytype_tag,tags
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,"[Airconditioning, Alarmclock, Carpeting, Close...",[DoubleRoom],"[Shower, 1kingbed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels],Airconditioning Alarmclock Carpeting Closet Co...

In [59]:
hotel1= data1[['hotelid','hotelname','tags','starrating','roomtype','country','city','propertytype','url']]

In [60]:
hotel1.shape

(165873, 9)

In [61]:
hotel1.head()

,hotelid,hotelname,tags,starrating,roomtype,country,city,propertytype,url
0,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Double Room,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...
1,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Double Room,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...
2,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Deluxe Double Room with Shower,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...
3,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Superior Double Room,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...
4,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Standard Double or Twin Room,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...

In [62]:
hotel1.duplicated().sum()

118180

In [63]:
hotel1.drop_duplicates(inplace=True)

C:\Users\Jai Satyam\AppData\Local\Temp\ipykernel_30252\2916415310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel1.drop_duplicates(inplace=True)

In [64]:
hotel1.isna().sum()

hotelid         0
hotelname       0
tags            0
starrating      0
roomtype        0
country         0
city            0
propertytype    0
url             0
dtype: int64

In [65]:
hotel1.to_csv("Hoterec1.csv")

In [66]:
hotel1.shape

(47693, 9)

In [67]:
hotel1.head(5)

,hotelid,hotelname,tags,starrating,roomtype,country,city,propertytype,url
0,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Double Room,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...
2,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Deluxe Double Room with Shower,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...
3,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Superior Double Room,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...
4,634876,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Standard Double or Twin Room,United Kingdom,Nether Stowey,Hotels,https://www.agoda.com/en-gb/the-old-cider-hous...
10,8328096,Pantlleni,Airconditioning Closet Fireplace FreeWi-Fiinal...,3,Vacation Home,United Kingdom,Beddgelert,Hotels,https://www.agoda.com/en-gb/pantlleni/hotel/be...

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf= TfidfVectorizer(max_features=1000)

In [69]:
from sklearn.metrics.pairwise import cosine_similarity

In [70]:
df11 = pd.read_csv("user_history.csv")

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score

In [72]:
def get_user_history(user_id,user_history_df):
    user_data= user_history_df[user_history_df['user_id'] == user_id]
    return user_data

In [73]:
def recommend(type, country, city , property ,starrating,  user_id= None):
    # Check if user_id matches from historical data
    if user_id:
        user_history = get_user_history(user_id, df11)
        if not user_history.empty:
            user_tags = ' '.join(user_history['tags'].tolist())
        else:
            user_tags = f"{type} {country} {city} {property} {starrating}"
    else:
        user_tags = f"{type} {country} {city} {property} {starrating}"

    # Filter the dataset based on the country and city
    temp = hotel1[(hotel1['country'] == country) & (hotel1['city'] == city) & (hotel1['starrating'] >= starrating)]
     # Append user preferences to the filtered DataFrame

    # Create a DataFrame from user tags
    user_tags_df = pd.DataFrame({'tags': [user_tags]})
    
    temp = pd.concat([temp, user_tags_df],ignore_index=True)
    
    # Fit and transform the TF-IDF vectorizer
    vector = tfidf.fit_transform(temp['tags']).toarray()
    
    # Calculate cosine similarity matrix
    similarity = cosine_similarity(vector)
    
    # Get indices of the filtered hotels
    filtered_indices = temp[temp['tags'] == user_tags].index.tolist()
    
    # Recommend top 5 similar hotels for each filtered hotel
    for i in filtered_indices:
        similar_hotels = sorted(list(enumerate(similarity[i])), key=lambda x: x[1], reverse=True)[1:6]  # Skip the first match (itself)
        for hotel in similar_hotels:
            print(tuple(temp.loc[hotel[0]][['hotelname', 'roomtype','starrating']]))

In [74]:
recommend('Comfort Single Room','Germany','Munich','Hotels', 4.0, 'user1')

('Eurostars Grand Central Hotel', 'Double Room', 4.0)
('Novotel Muenchen City Arnulfpark', 'Standard Double Bed', 4.0)
('Hotel Munich City', 'Single Room', 4.0)
('Novotel Munchen Messe', 'Single Room', 4.0)
('Hotel Munich City', 'superior double room with air condition', 4.0)

In [75]:
recommend('Comfort Single Room','Germany','Munich','Hotels', 3.0)

('LetoMotel Munich Moosach', 'Single - Room', 3.0)
('GHOTEL hotel & living Munich-Nymphenburg', 'Single', 3.0)
('NH Munchen City Sud', 'Single', 3.0)
('Hotel Carmen', 'room', 3.0)
('GHOTEL hotel & living Munich-Nymphenburg', 'Single', 3.0)

In [77]:
import pickle

# Assume tfidf is your trained vectorizer and df is your main dataset
with open("tfidf.pkl", "wb") as f:
    pickle.dump(tfidf, f)

with open("hoteldata.pkl", "wb") as f:
    pickle.dump(hotel1, f)

In [78]:
import pickle

with open("user_history.pkl", "wb") as f:
    pickle.dump(df11, f)